@max-width-mobile: 759px;
@max-width-tablet: 1024px;
@max-width-desktop: 1200px;

@base-purple: #6066d0;
@base-yellow: #f9a826;
@base-blue: #2f527b;
@base-white: #ffffff;
@base-red: #ea8282;
@base-green: #60bf88;
@base-gray: #1d1d1d;
@base-error: #ff0000;

@hover-purple: #4c52b3;
@hover-yellow: #e68a00;
@hover-blue: #2f527b;
@hover-white: #ffffff;
@hover-red: #ea8282;
@hover-green: #60bf88;
@hover-gray: #1d1d1d;
@hover-error: #ff0000;

@font-poppins: 'Poppins', sans-serif;
